body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  font-size: $font-size;
}
.app {
  min-width: 1440px;
  max-height: 810px;
  background-color: $bg;
}
.title {
  font-size: 20px;
  font-weight: 700;
  color: $orange;
}
.title-1 {
  font-size: 24px;
  font-weight: 700;
  color: $orange-active;
}

.button {
  background-color: $orange;
  color: white;
  border-radius: 8px;
  padding: 8px 40px;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
}
.button--outline {
  padding: 7px 39px;
  background-color: white;
  border: 1px solid $orange-yellow;
  color: $orange;
}

input {
  height: 40px;
  border-radius: 8px !important;
}
.shadow {
  box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
}

.ant-spin-container {
  display: flex;
  flex-direction: column;
}
.ant-table {
  border-radius: 12px;
  overflow: hidden;
  height: 385px;
  max-height: 385px;
  background-color: transparent;
  thead {
    tr {
      th,
      td {
        background-color: $orange;
        color: white;

        border: 0.5px solid white;
      }
    }
  }

  tbody {
    tr:nth-child(odd) {
      td {
        background-color: white;
      }
    }
    tr:nth-child(even) {
      td {
        background-color: $orange-light;
      }
    }
  }
}
.ant-pagination {
  flex-grow: 1;
  .ant-pagination-item,
  .ant-pagination-next,
  .ant-pagination-prev,
  .ant-pagination-next {
    background-color: transparent;
    border-color: transparent;
    border-radius: 4px;
    a {
      font-size: 16px;
      font-weight: 600;
      color: $gray-text;
    }
  }
}
.ant-pagination-item-active {
  color: white !important;
  background-color: $orange-active !important;
  a {
    color: white !important;
  }
}
.btn__action {
  width: 80px;
  height: 94px;
  background-color: $orange-light;
  border-radius: 8px 0px 0px 8px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: $orange;
  align-items: center;
  padding: 12px 15px;
  text-align: center;
  cursor: pointer;
  img {
    width: 28px;
    height: 28px;
    object-fit: contain;
  }
}
.dot--status {
  min-width: 8px;
  max-width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: blue;
  margin-right: 4px;
  display: inline-block;
  &.dot--green {
    background-color: $green;
  }
  &.dot--red {
    background-color: $red;
  }
  &.dot--success {
    background-color: #34cd26;
  }
  &.dot--precessing {
    background-color: #5490eb;
  }
  &.dot--absent {
    background-color: #6c7585;
  }
  &.dot--skip {
    background-color: #e73f3f;
  }
  &.dot--waiting {
    background-color: #4277ff;
  }
  &.dot--used {
    background-color: #7e7d88;
  }
}
.text {
  font-size: 16px;
  line-height: 24px;
}
.text-main {
  color: $text-primary;
  font-weight: 600;
  min-width: 130px;
}
.text-content {
  color: $text-color;
  font-weight: 400;
}

.alta-loading {
  width: 100% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 165px;
  img {
    width: 80px;
    height: 80px;
  }
}
