$orange: #ff9138;
$orange-dark: #bf5805;
$orange-line: #ffc89b;
$orange-light:#FFF2E7;
$text-color: #535261;
$text-primary: #282739;
$gray-text: #7e7d88;
$gray-outline:#D4D4D7;
$gray-input: #eaeaec;
$bg: #f6f6f6;
$error: #e73f3f;
$font-size: 18px;
$blue: #6695fb;
$green: #35c75a;
$orange-yellow: #ffac6a;
$red: #f86d6d;
$orange-active: #ff7506;
$primary-font: "Nunito", sans-serif;
